<mat-card class="max-w-7xl mx-auto border-x min-h-full">
  <div class="container" style="padding: 5%;">

    <h2 class="text-center mt-1">User Details</h2>
    <div class="row justify-content-md-center">
  
      <div class="col-4" *ngIf="user">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Username</h5>
            <p class="card-text">{{ user.username }}</p>
          </div>
        </div>
  
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Email</h5>
            <p class="card-text">{{ user.email }}</p>
          </div>
        </div>
  
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Phone Number</h5>
            <p class="card-text">{{ user.phone_number }}</p>
          </div>
        </div>
  
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Adresse</h5>
            <p class="card-text">{{ user.adresse }}</p>
          </div>
        </div>
  
        <div class="text-center mt-4">
          <button class="btn btn-primary mr-2" (click)="RedirectToModifyUser()">Modifier</button>
          <button class="btn btn-danger" (click)="delete(user.id)">Supprimer</button>
        </div>
      </div>

      <div class="border-top my-4 mt-5">
        <h2 class="text-center mt-5">Products published</h2>
          <mat-grid-list
            gutterSize="16"
            [cols]="cols"
            [rowHeight]="rowHeight"
          >
              <mat-grid-tile *ngFor="let product of userProducts">
                  <app-product-box-update
                    [product]="product"
                    
                    class="w-full" 
                    [fullWidthMode]="cols === 1"
                  >
                  </app-product-box-update>
              </mat-grid-tile>
          </mat-grid-list>
      </div>
      
  
      <div *ngIf="!user">
        <p>Loading...</p>
      </div>
  
    </div>
  </div>
</mat-card>

  

