<mat-card class="max-w-7xl mx-auto border-x">
    <img 
        (click)="redirectToUrl1()"
        src="../../../assets/image/entete2.png"
        style="cursor: pointer"
    >
</mat-card>

<mat-drawer-container
[autosize]="true"
class="min-h-full max-w-7xl mx-auto border-x" 
>
    <mat-drawer mode="side" opened class="p-6">
        <app-product-filters (showCategory)="onShowCategory($event)"></app-product-filters>
    </mat-drawer>
    <mat-drawer-content class="p-6">
        <app-product-container 
            (itemsCountChange)="onItemsCountChange($event)"
            (sortChange)="onSortChange($event)"
            (columnsCountChange)="onColumnsCountChange($event)"
        >
        </app-product-container>
        <mat-grid-list
            gutterSize="16"
            [cols]="cols"
            [rowHeight]="rowHeight"
            >
            <mat-grid-tile *ngFor="let product of products">
                <app-product-box
                    [product]="product"
                    (addToCart)="onAddToCart($event)"
                    class="w-full" 
                    [fullWidthMode]="cols === 1"
                >
                </app-product-box>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-drawer-content>
</mat-drawer-container>

<mat-card class="max-w-7xl mx-auto border-x">
    <img 
        (click)="redirectToUrl2()"
        src="../../../assets/image/entetefin.png"
        style="cursor: pointer"
    >
</mat-card>


